.tab-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .tab-button.active {
    background-color: #777;
    transform: scale(1.05);
font-weight: bold;
font-size: large;
  }
  
  .tab-button:hover {
    background-color: #555;
  }
  